body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  header{
      width: 100%;
      height: 70px;
      background-color: #151c26;
      position: fixed;
      z-index: 100;
      top: 0;
      padding: 15px;
  }
  .logo{
    width: 150px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 12px;
  }
  .list-inline-item .btn-outline-info {
    color: #5a606b;
    border: 1px solid #5a606b;
    margin-bottom: 10px;
    border-radius: 25px;
    font-weight: 500;
  }
  .list-inline-item, .btn-outline-info:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .react-multi-carousel-item{
    margin: 5px;
  }

@media all and (max-width: 960px){
    .container{
        margin-top: 90px;   
    }
  #info-similar{
    display: none;
  }
}
